@import 'tailwindcss';
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #dc2b2e;
    --secondary-color: #ffebec;

    --bg-color: #f8f8f8;

    --border-color: #7c7c7c;
  }
}

@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);

  --color-border: var(--border-color);
}

.empty-placeholder:empty::before {
  content: attr(data-placeholder);
  color: gray;
  pointer-events: none;
}
